.recording-button-container {
	z-index: 2;
	overflow: visible;
	position: relative;
	justify-content: center;
	max-width: 800px;
	width: 95%;
	display: flex;
	margin-top: -150px;
}

.recording-button {
	position: relative;
	z-index: 2;
	/*background-color: #4CAF50; */
	background-color: var(--rosa);
	/* round glow outside */
	box-shadow: 10 10 10 10 var(--rosa);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	transition: top 1s;
	display: flex; /* This was missing */
	justify-content: center; /* Centers children horizontally */
	align-items: center; /* Centers children vertically */
	transition: ease-in-out 0.3s;
}
.cancel-recording-button {
	position: absolute;
	right: calc(50% - 220px);
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	transition: opacity 0.3s ease;
}
