/* Style for the retrieve username form */
.retrieve-username-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	max-width: 600px; /* Limits the form size for better readability */
	margin: 20px auto;
	background-color: var(--white-rosa);
	border: 2px solid var(--rosa);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.retrieve-username-form h1 {
	font-size: 20px;
	margin-bottom: 20px;
}

.retrieve-username-form label {
	font-size: 16px;
	color: var(--black);
	margin-bottom: 15px;
	width: 100%; /* Ensures alignment of label and input fields */
}

.retrieve-username-form input {
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid var(--rosa);
	border-radius: 4px;
	background-color: var(--white);
	color: var(--black);
	margin-top: 5px;
}

.retrieve-username-form input:focus {
	outline: none;
	border-color: var(--lila);
	box-shadow: 0 0 10px var(--lila);
}

.retrieve-username-form button {
	padding: 10px 20px;
	background-color: var(--rosa);
	color: var(--white);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 15px;
}

.retrieve-username-form button:hover {
	background-color: var(--lila);
}
