:root {
	--lila: #7e20fc;
	--rosa: #aa6bfd;
	--white: #ffffff;
	--red: Red;
	--darkred: #990000;
	--black: Black;
	--white-rosa: #fbf9fe;
	--light-rosa: #ecdffe;
	--yellow: #ffd700;
	--green: #008000;
}

.required {
	color: var(--darkred);
}

.pointer {
	cursor: pointer;
}
